# default_brightness 0-255
default_brightness: 200
# RGB channel logical order. Default: RGB. Other valid values: GBR, BRG, etc.
# This controls how logical R/G/B maps to physical PWM channels at baseId_, baseId_+1, baseId_+2
# rgb_sequence: GRB 白色灯珠OK
# rgb_sequence: BGR 黑色灯珠OK
; rgb_sequence: BRG
rgb_sequence: GRB
# Enable debug output from rgb_led loader. Valid values: true/false, 1/0
rgb_debug: false
#再加上呼吸效果延时和颜色配置 yellow orange white
breath_period: 2500 
default_effect: solid
; default_color: 0,255,0
default_color: white
breath_color: cyan
# RGB channel color balance offsets (-100 to +100)
r_offset: -60
g_offset: 0
b_offset: 0
